<div class="container">

  <h2>Services</h2>

  <div class="row flex-row">
     
     


      <div class="col-md-4">
          
        <div class="card " routerLink="provideDetails">
            
           <h3>Provide detail for Return order</h3>

        </div>

   </div>


   <div class="col-md-4" routerLink="processingDetails">
          
    <div class="card">
        
       <h3>View the processing detail</h3>

    </div>

</div>


<div class="col-md-4" routerLink="confirmProcessing">
          
    <div class="card">
        
       <h3>Confirm processing</h3>

    </div>

</div>

<div class="col-md-4">
          
    <div class="card" routerLink="trackRequest">
        
       <h3>Track A Request</h3>

    </div>

</div>


<div class="col-md-4">
          
    <div class="card" routerLink="cancelRequest">
        
       <h3>Cancel Request</h3>

    </div>

</div>

<div class="col-md-4">
          
    <div class="card" routerLink="changePassword">
        
       <h3>Change Password</h3>

    </div>

</div>


  </div>


</div>
