<div class="container">
  <button routerLink="/dashboard" class="btn btn-info mt-2">Back</button>
  <h2>Processing Details</h2>

  <table class="table table-striped table-bordered table-hover mt-3">
    <thead>
      <tr>
        <th>Request Id</th>
        <th>Packaging and Delivery Charge</th>
        <th>Processing Charge</th>
        <th>Date Of Delivery</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of processingDetails">
        <td>{{ p.requestId }}</td>
        <td>{{ p.packagingAndDeliveryCharge }}</td>
        <td>{{ p.processingCharge }}</td>
        <td>{{ p.dateOfDelivery | date }}</td>
      </tr>
    </tbody>
  </table>
</div>
