.loginCard {
    padding : 20px;
    width : 50%;
    margin-left:auto;
    margin-right: auto;
    margin-top : 80px;
    box-shadow: 0 0 8px;
}


.toggleButton{
    text-decoration: double;
    border-radius: 30px;
}

.loginBtn{
    text-align: center;
}